accelerate==0.20.3
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.7.0
appdirs==1.4.4
argcomplete==2.0.0
async-timeout==4.0.2
attrs==22.2.0
auto-gptq==0.2.2
autocommand==2.2.2
backoff==2.2.1
bitsandbytes @ git+https://github.com/broncotc/bitsandbytes-rocm@1b52f4243f94cd1b81dd1cad5a9465d9d7add858
black==23.3.0
blessed==1.20.0
bpython==0.24
btrfsutil==6.3.2
build==0.10.0
cattrs==23.1.2
certifi==2023.5.7
cffi==1.15.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.1.0
chromadb==0.3.26
click==8.1.3
clickhouse-connect==0.6.2
cmake==3.26.4
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.1.0
coverage==6.5.0
cryptography==41.0.2
curtsies==0.4.1
cwcwidth==0.1.8
cycler==0.11.0
dataclasses-json==0.5.8
datasets==2.13.0
dbus-python==1.3.2
defusedxml==0.7.1
dill==0.3.6
diskcache==5.6.1
distlib==0.3.6
distro==1.8.0
docstring-to-markdown==0.12
duckdb==0.8.1
entrypoints==0.4
exceptiongroup==1.1.2
fastapi==0.97.0
fastjsonschema==2.17.1
filelock==3.12.0
flake8==6.0.0
Flask==2.2.5
flatbuffers==23.5.26
fonttools==4.40.0
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.3
ghp-import==2.1.0
Glances==3.4.0.3
gmpy2==2.1.5
greenlet==2.0.2
h11==0.14.0
hnswlib==0.7.0
httptools==0.5.0
huggingface-hub==0.15.1
humanfriendly==10.0
identify==2.5.24
idna==3.4
importlib-metadata==5.0.0
inflect==6.1.0
iniconfig==2.0.0
installer==0.7.0
InstructorEmbedding==1.0.1
iso8601==2.0.0
isort==5.12.0
itsdangerous==2.1.2
jaraco.context==4.3.0
jaraco.functools==3.8.0
jaraco.text==3.11.1
jedi==0.18.2
jedi-language-server==0.40.0
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
langchain==0.0.209
langchainplus-sdk==0.0.16
lit==15.0.7.dev0
llama-cpp-python==0.1.68
lsprotocol==2023.0.0a2
lxml==4.9.2
lz4==4.3.2
Mako==1.2.4
mallard-ducktype==1.0.2
Markdown==3.3.7
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
mccabe==0.7.0
mergedeep==1.3.4
meson==1.1.1
mkdocs==1.4.3
mkdocs-autorefs==0.4.1
mkdocs-material==9.1.18
mkdocs-material-extensions==1.1.1
mkdocstrings==0.22.0
mock==3.0.5
monotonic==1.6
more-itertools==9.1.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
mypy==1.3.0
mypy-extensions==1.0.0
networkx==3.1
nftables==0.1
nltk==3.8.1
nodeenv==1.8.0
nose==1.3.7
numexpr==2.8.4
numpy==1.25.0
onnxruntime==1.15.0
openapi-schema-pydantic==1.2.4
ordered-set==4.1.0
overrides==7.3.1
packaging==23.1
pandas==1.5.3
parso==0.8.3
pathspec==0.11.1
pbr==5.11.1
pdfminer.six==20221105
peft==0.3.0
Pillow==10.0.0
pipx==1.2.0
platformdirs==3.5.1
pluggy==1.0.0
ply==3.11
pooch==1.7.0
posthog==3.0.1
pre-commit==2.20.0
prompt-toolkit==3.0.39
protobuf==4.23.3
protontricks==1.10.4.dev1+gf54e1fc
psutil==5.9.5
pulsar-client==3.2.0
pwquality==1.4.5
pyaml==23.5.9
pyarrow==12.0.1
pybind11==2.10.4
pycairo==1.23.0
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.9
pyflakes==3.0.1
pygls==1.0.2
Pygments==2.15.1
PyGObject==3.44.1
pymdown-extensions==10.0.1
pynvim==0.4.3
pyopencl==2023.1
pyparsing==3.0.9
pyproject_hooks==1.0.0
PyQt5==5.15.9
PyQt5-sip==12.12.1
pyre-extensions==0.0.29
pytest==7.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-magic==0.4.27
pytools==2022.1.14
pytorch-triton-rocm==2.0.2
pytz==2023.3
pyxdg==0.28
PyYAML==6.0
pyyaml_env_tag==0.1
Reflector==2023.6.28.0.36.1
regex==2023.6.3
requests==2.28.2
requests-mock==1.10.0
rouge==1.0.1
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.11.1
SCons==4.4.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
setuptools-scm==7.1.0
shtab==1.6.1
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.16
starlette==0.27.0
sympy==1.12
TBB==0.2
tenacity==8.2.2
termcolor==2.3.0
threadpoolctl==3.1.0
tiktoken==0.4.0
tldr==3.2.0
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
transformers==4.30.2
triton==2.0.0.post1
trove-classifiers==2023.5.25
typeguard==4.0.0
typing-inspect==0.9.0
typing_extensions==4.7.1
ufw==0.36.2
ujson==5.8.0
urllib3==1.26.15
userpath==1.8.0
uvicorn==0.22.0
uvloop==0.17.0
validate-pyproject==0.13.post1.dev0+gb752273.d20230520
vdf==3.4
virtualenv==20.21.0
watchdog==3.0.0
watchfiles==0.19.0
wcwidth==0.2.6
websockets==11.0.3
Werkzeug==2.3.2
xformers==0.0.20
xxhash==3.2.0
yarl==1.9.2
zipp==3.15.0
zstandard==0.21.0
